rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users profile collection
    match /users/{userId} {
      allow read, write: if true;
    }
    
    // Categories collection
    match /categories/{categoryId} {
      allow read, write: if true;
    }
    
    // Toys collection
    match /toys/{toyId} {
      allow read, write: if true;
    }
    
    // Invoices collection
    match /invoices/{invoiceId} {
      allow read, write: if true;
    }
  }
}
